<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="isExpanded">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>
        <span *ngIf="isExpanded">Home</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="isExpanded = !isExpanded">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Image Events Application</span>
    </mat-toolbar>

    <div class="content-wrapper">
      <app-image-event-list></app-image-event-list>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
